
<% content_for :subtitle do %>
  Edit Ballot Count Observation
<% end %>

<% content_for :content do %>
  <%= form_for @observation, url: {action: "update"} do |f| %>
    <div class="field">
      <p>
        Correcting ballot count observation for:
        <%= @observation.work_space_polling_station.fully_specified_name %>
      </p>
      <p>
        Current count for this observation: <%= @observation.count %>
      </p>

      <div class="field">
        <label class="label">
          What is the correct ballot count?

          <div class="control">
            <%= f.number_field(:count, in: 1..2000, step: 1, required: true, class: "input") %>
          </div>
        </label>
      </div>

      <div class="buttons">
        <%= f.submit "Amend count", class: 'button is-primary' %>
      </div>
    </div>
  <% end %>
<% end %>
