
<%= render partial: 'shared/admin_menu',  locals: { work_space: @work_space }%>

<section class="section has-background-white-ter is-bold " style="border-bottom: 1px solid #ccc;">
  <div class="level container">
    <div class="">
      <h1 class="title"><%= @work_space.name %></h1>
      <p class="subtitle">
        Edit Ballot Count Observation
      </p>
    </div>
    <div class="level-right">
      <%= render 'shared/invite_btn' %>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <%= form_for @observation, url: {action: "update"} do |f| %>
      <div class="field">
        <p>
          Correcting ballot count observation for: <%= @observation.polling_station.name_with_ward %>
        </p>
        <p>
          Current count for this observation: <%= @observation.count %>
        </p>

        <div class="field">
          <label class="label">What is the correct ballot count?</label>
          <div class="control">
            <%= f.number_field(:count, in: 1..2000, step: 1, required: true, class: "input") %>
          </div>
        </div>

        <div class="buttons">
          <%= f.submit "Amend count", class: 'button is-primary' %>
        </div>
    <% end %>
  </div>
</section>
