
<% content_for :subtitle do %>
  Ballot Count Observations
<% end %>

<% content_for :content do %>
  <table class="table is-striped is-narrow">
    <thead>
      <tr>
        <th>Polling Station</th>
        <th>Time</th>
        <th>Volunteer</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody class="is-size-7">

    <% @observations.each do |observation| %>
      <tr>
        <td>
          <%= render 'shared/polling_station_name',
            polling_station: observation.work_space_polling_station
          %>
        </td>
        <td>
          <%= render 'shared/observation_time', observation: observation %>
        </td>
        <td>
          <% if observation.user %>
            <%= observation.user.info %>
          <% end %>
        </td>
        <td>
          <span class="is-size-6">
            <%= observation.count %>
          </span>
          &nbsp;
          <%= link_to edit_work_space_turnout_observation_path(
            @work_space, observation
          ) do %>
            <i class="fas fa-edit" data-test="amend-count-button"></i>
          <% end %>
          <%# Could also display past count time alongside these, in time column %>
          <%# XXX Similar but slightly different to invalid WARP count styling %>
          <ul data-test="past-counts-list" class="past-counts-list">
            <% observation.past_counts.each do |count| %>
              <li><%= count %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
