
<%= render partial: 'shared/admin_menu',  locals: { work_space: @work_space }%>

<section class="section has-background-white-ter  is-bold " style="border-bottom: 1px solid #ccc;">
  <div class="level container">
    <div class="">
      <h1 class="title "><%= @work_space.name %></h1>
      <p class="subtitle">
        Ballot Count Observations
      </p>
    </div>
    <div class="level-right">
      <%= render 'shared/invite_btn' %>
    </div>
  </div>
</section>


<section class="section ">
  <div class="container content">
    <table class="table is-striped">
      <thead>
      <tr>
        <th>Polling Station</th>
        <th>Time</th>
        <!--        <th>Name</th>-->
        <th>Count</th>
      </tr>
      </thead>
      <tbody>

      <% @observations.each do |observation| %>
        <tr>
          <td><%= observation.polling_station.name %> </td>
          <td>
            <time datetime="<%= observation.created_at.iso8601 %>">
              <%= observation.created_at.strftime("%I:%M %p") %></time>
            <%= "(#{distance_of_time_in_words_to_now(observation.created_at)} ago)" unless observation.created_at.today? %>
          </td>
          <!--        <td><%#= volunteerName %></td>-->
          <td><%= observation.count %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</section>

