
<% content_for :title do %>
  <%= @work_space.name %>
<% end %>

<% content_for :subtitle do %>
  Send ballot counts to help your committee room
<% end %>

<% content_for :content do %>
  <section class="section">
    <div class="container">
      <p>
        Recording ballot count for
        <em><%= @observation.work_space_polling_station.fully_specified_name %></em>.
      </p>

      <p>
        <span class="has-text-grey is-size-7">
          Not here?
          <%= link_to(
            'Click here to select again',
            start_work_space_turnout_observations_path(@work_space),
            class: 'has-text-grey-light'
          ) %>.
        </span>
      </p>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <%= form_for @observation, url: {action: "create"} do |f| %>
        <%= f.hidden_field(:work_space_polling_station_id) %>

        <div class="field">
          <label class="label">
            What is the current ballot count there?

            <div class="control">
              <%= f.number_field(
                :count,
                in: 1..2000,
                step: 1,
                required: true,
                class: "input is-large",
                autofocus: true,
                placeholder: 'Enter ballot count...'
              ) %>
            </div>
          </label>
        </div>

        <div class="buttons">
          <%= f.submit "Send ballot count", class: 'button is-primary' %>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
