
<% content_for :title do %>
  Thank you.
<% end %>

<% content_for :subtitle do %>
  Your committee room received the count of
  <em><%= @observation.count %></em>
  for <em><%= @observation.polling_station.fully_specified_name %></em>.

      <p>
        <span class="has-text-grey-lighter is-size-7">
          Made a mistake?
          <%= link_to(
            'Click here to enter a corrected count',
            new_work_space_turnout_observation_path(
              @work_space,
              polling_station: @observation.polling_station
            ),
            class: 'has-text-white-ter'
          ) %>.
        </span>
      </p>
<% end %>

<% content_for :content do %>
  <section class="section" style="padding-bottom: 1.5rem;">
    <% if @observation.polling_station.colocated_polling_stations.any? %>
      <div class="container">
        <p>
          We think these ballot boxes are in the same building, make sure to
          record these as well:

          <ul class="has-bullet">
            <% @observation.polling_station.colocated_polling_stations.each do |colocated_station| %>
              <li>
                <em><%= colocated_station.fully_specified_name %></em>

                <% if colocated_station.last_observation %>
                  <strong>
                    <% if colocated_station.last_observation.user.name %>
                      [last updated at <%= render 'shared/observation_time', observation: colocated_station.last_observation %> by <%= colocated_station.last_observation.user.name %>]
                    <% else %>
                      [last updated at <%= render 'shared/observation_time', observation: colocated_station.last_observation %>]
                    <% end %>
                  </strong>
                <% end %>

                <%= link_to(
                  'Click here to enter a new count',
                  new_work_space_turnout_observation_path(
                    @work_space,
                    polling_station: colocated_station
                  )
                ) %>
              </li>
            <% end %>
          </ul>
        </p>
      </div>
    <% end %>

    <div class="container">
      <p class="buttons is-centered">
        <%= link_to(
          'Send another ballot count',
          start_work_space_turnout_observations_path(@work_space),
          class: 'button is-primary'
        ) %>
      </p>
    </div>
  </section>

  <% unless @current_user.name %>
    <section class="notification is-primary">
      <div class="content">
        <p class="has-text-weight-bold">
          Please also enter your name and phone number to record these along
          with your observations.
        </p>

        <p>
          We use this to help your committee room know who made each
          observation, and to allow them to easily contact you if they have any
          questions.
        </p>

        <p>
          We will only share this with people running Labour Party election
          campaigns.
        </p>

        <%= form_for @current_user do |f| %>
          <div class="field">
            <label class="label">
              Your name

              <div class="control">
                <%= f.text_field(:name, required: true, class: "input") %>
              </div>
            </label>
          </div>

          <div class="field">
            <label class="label">
              Your phone number

              <div class="control">
                <%= f.telephone_field(:phone_number, required: true, class: "input") %>
              </div>
            </label>
          </div>

          <div class="buttons">
            <%= f.submit "Save your details", class: 'button' %>
          </div>
        <% end %>
      </div>
    </section>
  <% end %>
<% end %>
