
<% content_for :title do %>
  Thank you.
<% end %>

<% content_for :subtitle do %>
  Your committee room received the count for '<%= @observation.polling_station.fully_specified_name %>'.
<% end %>

<% content_for :content do %>
  <section class="section">
    <div class="container">
      <p class="buttons is-centered">
        <%= link_to('Send another count', start_work_space_turnout_observations_path(@work_space), class: 'button') %>
      </p>
    </div>
  </section>

  <% unless @current_user.name %>
    <section class="notification is-primary">
      <div class="content">
        <p class="has-text-weight-bold">
          Please also enter your details to record these along with your
          observations.
        </p>

        <p>
          This helps the committee room know who made each observation, and helps
          them contact you if they have any questions.
        </p>

        <%= form_for @current_user do |f| %>
          <div class="field">
            <label class="label">Your name</label>
            <div class="control">
              <%= f.text_field(:name, required: true, class: "input") %>
            </div>
          </div>

          <div class="field">
            <label class="label">Your phone number</label>
            <div class="control">
              <%= f.telephone_field(:phone_number, required: true, class: "input") %>
            </div>
          </div>

          <div class="buttons">
            <%= f.submit "Save details", class: 'button' %>
          </div>
        <% end %>
      </div>
    </section>
  <% end %>
<% end %>
