
<% content_for :subtitle do %>
  Input figures for your workspace for election day
<% end %>

<% content_for :content do %>
  <%# XXX Some similarities between this and
    `app/views/work_spaces/show.html.erb` - de-dupe/share more? %>

  <%= form_with(model: @work_space, url: {action: :update}, method: 'patch')  do |f| %>

    <table class="table is-striped is-narrow is-fullwidth">
      <thead>
        <tr>
          <th>Committee Room</th>
          <th>Polling District</th>
          <th>Labour promises</th>
          <th>Registered voters</th>
        </tr>
      </thead>

      <tbody class="is-size-7">
        <% @work_space.polling_districts_by_committee_room.each do |committee_room, polling_districts| %>
        <% first_district = polling_districts.first  %>
        <% polling_districts.each do |polling_district| %>
          <% first_for_committee_room = polling_district == first_district %>

            <tr>
              <% if first_for_committee_room %>
                <%= render 'shared/committee_room_info',
                  committee_room: committee_room,
                  rowspan: polling_districts.length,
                  render_controls: false
                %>
              <% end %>

              <td>
                <%= render 'shared/polling_district_name', polling_district: polling_district %>
              </td>

              <%= f.fields_for :polling_districts, [polling_district] do |polling_district_form| %>

                <td>
                  <%= polling_district_form.number_field(
                    :box_labour_promises,
                    min: 0,
                    required: true,
                    class: "input",
                    'data-test' => 'labour-promises-field'
                  ) %>
                </td>

                <td>
                  <%= polling_district_form.number_field(
                    :box_electors,
                    min: 0,
                    required: true,
                    class: "input",
                    'data-test' => 'registered-voters-field'
                  ) %>
                </td>

              <% end %>

            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= f.submit 'Save workspace figures',
      class: 'button is-primary is-fullwidth'
    %>

  <% end %>
<% end %>
