
<% content_for :subtitle do %>
  Setup your committee rooms for election day
<% end %>

<% content_for :content do %>
  <%= form_for @committee_room, url: {action: 'create'} do |f| %>
    <div class="field">
      <label class="label">
        Address of this committee room

        <div class="control">
          <%= f.text_field(
            :address, required: true, class: "input", autofocus: true
          ) %>
        </div>
      </label>
    </div>

    <div class="field">
      <label class="label">
        Name of lead organiser for this committee room

        <div class="control">
          <%= f.text_field(:organiser_name, required: true, class: "input") %>
        </div>
      </label>
    </div>

    <%= render 'shared/polling_district_selector_field',
      label_text: 'Which polling districts is this committee room responsible for?',
      polling_districts: @work_space.polling_districts,
      work_space: @work_space
    %>

    <%= f.submit 'Create committee room',
      class: 'button is-primary'
    %>
  <% end %>
<% end %>
