
<%
    is_polling_district_proxy = first_for_polling_district
    polling_district = polling_station.polling_district
%>

<td width="15%">
  <%= render 'shared/polling_station_name', polling_station: polling_station %>
</td>

<%# XXX Whether or not we get rid of 'proxy PollingDistrict' concept, could extract %>
<%# helper for repeated pattern in this file using `is_polling_district_proxy` and %>
<%# `rowspan`. %>
<% if is_polling_district_proxy %>
  <td width="15%" rowspan="<%= rowspan %>">
    <div>
      <span class="nowrap">
        <span class="is-size-6">
          <%= polling_district.box_labour_promises %>
        </span>
        promises /
      </span>
      <span class="nowrap">
        <span class="is-size-6">
          <%= polling_district.box_electors %>
        </span>
        box voters
      </span>
    </div>

    <div class="has-text-grey">
      <span class="nowrap">
        <span class="is-size-6">
          <%= polling_district.postal_labour_promises %>
        </span>
        promises /
      </span>
      <span class="nowrap">
        <span class="is-size-6">
          <%= polling_district.postal_electors %>
        </span>
        postal voters
      </span>
    </div>
  </td>
<% end %>

<td width="15%">
  <span class="is-size-6 has-text-weight-bold">
    <%= turnout_observation.count %>
  </span>
  <span class="is-italic">
    <% if turnout_observation.created_at %>
      at
      <%= render 'shared/observation_time', observation: turnout_observation %>
      <% if turnout_observation.user %>
        <br>
        by <%= turnout_observation.user.info %>
      <% end %>
    <% else %>
      (not yet observed)
    <% end %>
  </span>
</td>

<% if is_polling_district_proxy %>
  <td width="10%" rowspan="<%= rowspan %>">
    <% if polling_district.box_electors > 0 %>
      <span class="is-size-6 has-text-weight-bold">
        <%= number_to_percentage(
          polling_district.turnout_proportion * 100,
          precision: 1
        ) %>
      </span>
    <% else %>
      <span class="is-italic">
        Registered voters unknown
      </span>
    <% end %>
  </td>
<% end %>

<% if is_polling_district_proxy %>
  <td width="10%" rowspan="<%= rowspan %>">
    <% if turnout_observation.created_at %>
      <span class="nowrap">
        <span class="is-size-6 has-text-weight-bold">
          <%= polling_district.guesstimated_labour_votes %>
        </span>
        votes
        /
      </span>
      <span class="nowrap">
        <span class="is-size-6 has-text-weight-bold has-text-primary">
          <%= polling_district.guesstimated_labour_votes_left %>
        </span>
        votes left
      </span>
    <% end %>
  </td>
<% end %>

<% if is_polling_district_proxy %>
  <td width="10%" rowspan="<%= rowspan %>">
    <span class="nowrap">
      <span class="is-size-6 has-text-weight-bold">
        <%= polling_district.confirmed_labour_votes_from_warp %>
      </span>
      votes
      /
    </span>
    <span class="nowrap">
      <span class="is-size-6 has-text-weight-bold has-text-primary">
        <%= polling_district.remaining_labour_votes_from_warp %>
      </span>
      votes left
    </span>

    <div>
      <%= link_to 'Add WARP count',
        work_space_polling_district_warp_count_observations_path(
          polling_district.work_space,
          polling_district
        ),
        class: 'button is-small'
      %>
    </div>
  </td>
<% end %>

<% if is_polling_district_proxy %>
  <td width="10%" rowspan="<%= rowspan %>">
    <%= render 'volunteer_control_panel',
      identifier: "remaining-lifts-#{polling_district.id}",
      text: '',
      count: polling_district.last_remaining_lifts_observation.count,
      update_count_url: work_space_polling_district_lifts_path(
        polling_district.work_space, polling_district
      )
    %>
  </td>
<% end %>
