
<td width="20%">
  <%= render 'shared/polling_station_name', polling_station: polling_station %>
</td>

<td width="20%">
  <div>
    <span class="nowrap">
      <span class="is-size-6">
        <%= polling_station.box_labour_promises %>
      </span>
      promises /
    </span>
    <span class="nowrap">
      <span class="is-size-6">
        <%= polling_station.box_electors %>
      </span>
      box voters
    </span>
  </div>

  <div class="has-text-grey">
    <span class="nowrap">
      <span class="is-size-6">
        <%= polling_station.postal_labour_promises %>
      </span>
      promises /
    </span>
    <span class="nowrap">
      <span class="is-size-6">
        <%= polling_station.postal_electors %>
      </span>
      postal voters
    </span>
  </div>
</td>

<td width="15%">
  <span class="is-size-6 has-text-weight-bold">
    <%= turnout_observation.count %>
  </span>
  <span class="is-italic">
    <% if turnout_observation.created_at %>
      at
      <%= render 'shared/observation_time', observation: turnout_observation %>
      <% if turnout_observation.user %>
        <br>
        by <%= turnout_observation.user.info %>
      <% end %>
    <% else %>
      (not yet observed)
    <% end %>
  </span>
</td>

<td width="10%">
  <% if polling_station.box_electors > 0 %>
    <span class="is-size-6 has-text-weight-bold">
      <%= number_to_percentage(
        turnout_observation.turnout_proportion * 100,
        precision: 1
      ) %>
    </span>
  <% else %>
    <span class="is-italic">
      Registered voters unknown
    </span>
  <% end %>
</td>

<td width="15%">
  <% if turnout_observation.created_at %>
    <span class="nowrap">
      <span class="is-size-6 has-text-weight-bold">
        <%= turnout_observation.guesstimated_labour_votes %>
      </span>
      votes
      /
    </span>
    <span class="nowrap">
      <span class="is-size-6 has-text-weight-bold has-text-primary">
        <%= turnout_observation.guesstimated_labour_votes_left %>
      </span>
      votes left
    </span>
  <% end %>
</td>
