<%= render partial: 'shared/admin_menu',  locals: { work_space: @work_space }%>
<section class="section has-background-white-ter  is-bold " style="border-bottom: 1px solid #ccc;">
  <div class="level container">
    <div class="">
      <h1 class="title "><%= @work_space.name %></h1>
      <p class="subtitle">
        Dashboard
      </p>
    </div>
    <div class="level-right">
      <%= render 'shared/invite_btn' %>
    </div>
  </div>
</section>

<section class="section ">
  <div class="container content">
    <table class="table is-striped is-narrow is-fullwidth">
      <thead>
      <tr>
        <th>Polling Station</th>
        <th>Labour promises / Registered voters</th>
        <th>Turnout</th>
        <th>Turnout percentage</th>
        <th>Guesstimated Labour votes / Labour votes left</th>
      </tr>
      </thead>
      <tbody class="is-size-7">

      <% @work_space.latest_observations.each do |district| %>
        <% district_polling_stations = district.polling_stations %>
        <% district.observation_pairs.each do |pair| %>
          <% polling_station = pair.polling_station
             turnout_observation = pair.turnout_observation
          %>
          <tr>
            <td width="20%">
              <%= render 'shared/polling_station_name', polling_station: polling_station %>
            </td>

            <% if polling_station == district_polling_stations.first %>
              <td
                width="20%"
                rowspan="<%= district_polling_stations.length %>"
                style="vertical-align : middle;"
              >
                <span class="nowrap">
                  <span class="is-size-6">
                    <%= district.pre_election_labour_promises %>
                  </span>
                  promises /
                </span>
                <span class="nowrap">
                  <span class="is-size-6">
                    <%= district.pre_election_registered_voters %>
                  </span>
                  voters
                </span>
              </td>
            <% end %>

            <td width="15%">
              <span class="is-size-6 has-text-weight-bold">
                <%= turnout_observation.count %>
              </span>
              <span class="is-italic">
                <% if turnout_observation.created_at %>
                    at
                    <%= render 'shared/observation_time', observation: turnout_observation %>
                    <% if turnout_observation.user %>
                      <br>
                      by <%= turnout_observation.user.info %>
                    <% end %>
                <% else %>
                    (not yet observed)
                <% end %>
              </span>
            </td>

            <% if polling_station == district_polling_stations.first %>
              <td
                width="10%"
                rowspan="<%= district_polling_stations.length %>"
                style="vertical-align : middle;"
              >
                <% if district.pre_election_registered_voters > 0 %>
                  <span class="is-size-6 has-text-weight-bold">
                    <%= number_to_percentage(
                      district.turnout_proportion * 100,
                      precision: 1
                    ) %>
                  </span>
                <% else %>
                  <span class="is-italic">
                    Registered voters unknown
                  </span>
                <% end %>
              </td>

              <td
                width="15%"
                rowspan="<%= district_polling_stations.length %>"
                style="vertical-align : middle;"
              >
                <% if district.guesstimated_labour_votes.positive? %>
                  <span class="nowrap">
                    <span class="is-size-6 has-text-weight-bold">
                      <%= district.guesstimated_labour_votes %>
                    </span>
                    votes
                    /
                  </span>
                  <span class="nowrap">
                    <span class="is-size-6 has-text-weight-bold has-text-primary">
                      <%= district.guesstimated_labour_votes_left %>
                    </span>
                    votes left
                  </span>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</section>
