<%= render partial: 'shared/admin_menu',  locals: { work_space: @work_space }%>
<section class="section has-background-white-ter  is-bold " style="border-bottom: 1px solid #ccc;">
  <div class="level container">
    <div class="">
      <h1 class="title "><%= @work_space.name %></h1>
      <p class="subtitle">
        Dashboard
      </p>
    </div>
    <div class="level-right">
      <%= render 'shared/invite_btn' %>
    </div>
  </div>
</section>

<section class="section ">
  <div class="container content">
    <table class="table is-striped">
      <thead>
      <tr>
        <th>Polling Station</th>
        <th>Turnout</th>
        <th>Proportion of Registered Voters Turned Out</th>
      </tr>
      </thead>
      <tbody>

      <% @work_space.latest_observations.each do |o| %>
        <% polling_station = o.polling_station
           turnout_observation = o.turnout_observation
        %>
        <tr>
          <td width="40%"><%= polling_station.name %></td>
          <td width="20%">
            <strong>
              <%= turnout_observation.count %>
            </strong>
            <i>
              <% if turnout_observation.created_at %>
                at
                  <time datetime="<%= turnout_observation.created_at.iso8601 %>">
                    <%= turnout_observation.created_at.strftime("%I:%M %p") %>
                  </time>
              <% else %>
                (not yet observed)
              <% end %>
            </i>
          </td>
          <td width="50%">
            <% if polling_station.pre_election_registered_voters > 0 %>
              <strong>
                <%= number_to_percentage(
                  turnout_observation.turnout_proportion * 100,
                  precision: 1
                ) %>
              </strong>
            <% else %>
              <i>Registered voters unknown</i>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>
