
<% content_for :subtitle do %>
  Dashboard
<% end %>

<% content_for :content do %>
  <article class="message is-small">
    <div class="message-body">
      * Note: These figures are only for box voters; postal voters are not
      included. Labour voters who were not included in your Labour promises
      figure will not be included in the 'Labour votes' figures.
    </div>
  </article>

  <article class="message is-small">
    <div class="message-body">
      † Note: This is only a rough estimate, and assumes Labour voters are
      turning out at the same rate as other voters.
    </div>
  </article>

  <table class="table is-striped is-fullwidth">
    <%#
      XXX Might be nice to make head sticky too (as well as each
      CommitteeRoom's info), but this seems tricky with table markup (maybe
      impossible with just CSS?) - see
      https://stackoverflow.com/questions/54689034/pure-css-multiple-stacked-position-sticky.
    %>
    <thead>
      <tr>
        <th>
          Committee Room
          <%= link_to new_work_space_committee_room_path(@work_space, reconfigure: true),
            title: 'Create new committee room' do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </th>
        <th>
          Polling Station

          <div class="is-size-7 has-text-grey">
            Ward&nbsp;|&nbsp;Polling&nbsp;District&nbsp;|&nbsp;Ballot&nbsp;Box
          </div>
        </th>
        <th>
          Labour promises / Registered voters
          <%= link_to work_space_configuration_path(@work_space),
            title: 'Configure workspace figures' do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </th>
        <th>Turnout&nbsp;*</th>
        <th>Turnout percentage&nbsp;*</th>
        <th>
          Guesstimated Labour votes / Labour votes left&nbsp;*&nbsp;†

          <div class="is-size-7 has-text-grey">
            Calculated from turnout and your Labour promises
          </div>

          <%# XXX DRY with below button? %>
          <%= button_to 'Highlight target district by estimates',
            work_space_path(@work_space),
            method: 'patch',
            params: {'work_space[suggested_target_district_method]' => 'estimates'},
            class: "button is-small #{'is-invisible' if @work_space.suggested_target_district_method == 'estimates'}"
          %>
        </th>
        <th>
          Confirmed Labour votes / Labour votes left&nbsp;*

          <div class="is-size-7 has-text-grey">
            From WARP
          </div>

          <%= button_to 'Highlight target district by WARP',
            work_space_path(@work_space),
            method: 'patch',
            params: {'work_space[suggested_target_district_method]' => 'warp'},
            class: "button is-small #{'is-invisible' if @work_space.suggested_target_district_method == 'warp'}"
          %>
        </th>
        <th>Remaining lifts</th>
      </tr>
    </thead>

    <tbody class="is-size-7">
      <% @work_space.latest_observations_by_committee_room.each do |committee_room, observations|

        suggested_target_district_reference = \
          committee_room&.suggested_target_district_reference

        first_observation = observations.first
        observations.each do |o|
          first_for_committee_room = o == first_observation

          ws_polling_station = o.polling_station
          polling_district_stations = \
            ws_polling_station.work_space_polling_district_stations

          turnout_observation = o.turnout_observation

          is_suggested_target_district = \
            ws_polling_station.polling_district.reference == suggested_target_district_reference
        %>

          <tr class="<%= 'suggested-target-district' if is_suggested_target_district %>">
            <% if first_for_committee_room %>
              <%= render 'shared/committee_room_info',
                committee_room: committee_room,
                rowspan: observations.length,
                render_controls: true
              %>
            <% end %>

            <%= render 'polling_station_info',
              polling_station: ws_polling_station,
              turnout_observation: turnout_observation,
              rowspan: polling_district_stations.length
            %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
