<%= render partial: 'shared/admin_menu',  locals: { work_space: @work_space }%>
<section class="section has-background-white-ter  is-bold " style="border-bottom: 1px solid #ccc;">
  <div class="level container">
    <div class="">
      <h1 class="title "><%= @work_space.name %></h1>
      <p class="subtitle">
        Dashboard
      </p>
    </div>
    <div class="level-right">
      <%= render 'shared/invite_btn' %>
    </div>
  </div>
</section>

<section class="section ">
  <div class="container content">
    <table class="table is-striped is-narrow is-fullwidth">
      <thead>
      <tr>
        <th>Polling Station</th>
        <th>Labour promises / Registered voters</th>
        <th>Turnout</th>
        <th>Turnout percentage</th>
        <th>Guesstimated Labour votes / Labour votes left</th>
      </tr>
      </thead>
      <tbody class="is-size-7">

      <% @work_space.latest_observations.each do |o| %>
        <% polling_station = o.polling_station
           turnout_observation = o.turnout_observation
        %>
        <tr>
          <td width="20%">
            <%= render 'shared/polling_station_name', polling_station: polling_station %>
          </td>

          <td width="20%">
            <span class="is-size-6">
              <%= polling_station.pre_election_labour_promises %>
            </span>
            promises /
            <span class="is-size-6">
              <%= polling_station.pre_election_registered_voters %>
            </span>
            voters
          </td>

          <td width="10%">
            <span class="is-size-6 has-text-weight-bold">
              <%= turnout_observation.count %>
            </span>
            <span class="is-italic">
              <% if turnout_observation.created_at %>
                at
              <time datetime="<%= turnout_observation.created_at.iso8601 %>">
                <%= turnout_observation.created_at.strftime("%I:%M %p") %>
              </time>
            <% else %>
                (not yet observed)
            <% end %>
            </span>
          </td>

          <td width="10%">
            <% if polling_station.pre_election_registered_voters > 0 %>
              <span class="is-size-6 has-text-weight-bold">
                <%= number_to_percentage(
                  turnout_observation.turnout_proportion * 100,
                  precision: 1
                ) %>
              </span>
            <% else %>
              <span class="is-italic">
                Registered voters unknown
              </span>
            <% end %>
          </td>

          <td width="15%">
            <% if turnout_observation.created_at %>
              <span class="is-size-6 has-text-weight-bold">
                <%= turnout_observation.guesstimated_labour_votes %>
              </span>
              votes
              /
              <span class="is-size-6 has-text-weight-bold has-text-primary">
                <%= turnout_observation.guesstimated_labour_votes_left %>
              </span>
              votes left
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>
