<!DOCTYPE html>
<html>
  <head>
    <title>
      GOTV
      <%# XXX @work_space is needed on many pages - find it in ApplicationController? %>
      <% if @work_space %>
        |
        <%=  @work_space.name %>
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%# Load layout-specific styles. %>
    <%= stylesheet_link_tag "layout/#{yield :layout_name}",
        media: 'all',
        'data-turbolinks-track': 'reload'
    %>

    <script
      src="https://browser.sentry-cdn.com/5.10.2/bundle.min.js"
      integrity="sha384-ssBfXiBvlVC7bdA/VX03S88B5MwXQWdnpJRbUYFPgswlOBwETwTp6F3SMUNpo9M9"
      crossorigin="anonymous">
    </script>
    <%# XXX Move this somewhere else? %>
    <script type="text/javascript">
      Sentry.init({ dsn: 'https://a039309997f54b72a5db274ba2e63fd4@sentry.io/1850318' });
    </script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'typeahead.bundle.min.js' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%# Twitter meta tags - see %>
    <%# https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary %>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@bobwhitelock" />
    <meta
      name="twitter:title"
      content="Campaign Lab GOTV Dashboard"
    />
    <meta
      name="twitter:description"
      content="Better Organise Your Election Day Campaign"
    />
    <meta name="twitter:image" content="<%= image_url 'polling_station.jpg' %>" />
    <meta name="twitter:image:alt" content="Preview of the GOTV dashboard" />

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>

  <body>
    <%= render 'cookies_eu/consent_banner' %>

    <%= yield :layout %>

    <footer class="footer">
      <%# XXX Maybe include license info here too %>
      <div class="content has-text-centered is-size-7">
        <p>
          <strong>GetOutTheVote.uk</strong> &#169; <%= Time.zone.now.year %>,
          by
          <a href="https://twitter.com/bobwhitelock">Bob Whitelock</a>
          and
          <a href="https://www.campaignlab.london/">Campaign Lab</a>.
        </p>
      </div>
    </footer>
  </body>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</html>
