<!DOCTYPE html>
<html>
  <head>
    <title>
      GOTV
      <%# XXX @work_space is needed on many pages - find it in ApplicationController? %>
      <% if @work_space %>
        |
        <%=  @work_space.name %>
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <%= yield :head_js %>
  </head>

  <body>
    <%= yield :layout %>
  </body>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</html>
