<!DOCTYPE html>
<html>
  <head>
    <title>GotvDashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= yield :head_js %>
  </head>

  <body>
    <%# XXX Move these below the navbar %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

      <%= yield %>
  </body>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</html>
