
<% content_for :layout_name, 'roaming' %>

<% content_for :layout do %>
  <section class="notification is-primary">
    <div class="container">
      <%# XXX Have the title only be hidden when phone in landscape, when there %>
      <%# isn't room for it %>
      <%# <div class="title"> %>
      <%#   <%= yield :title %1> %>
      <%# </div> %>
      <div class="subtitle">
        <%= yield :subtitle %>
      </div>
    </div>
  </section>

  <%# XXX Pull up to application layout? %>
  <% if notice %>
    <article class="message is-success">
      <div class="message-header">
        <p><%= notice %></p>
      </div>
    </article>
  <% end %>

  <%= yield :content %>
<% end %>

<%= render template: 'layouts/application' %>
